.Link {
  color: #e69e00 !important;    /* <-- FORCE the color */
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.Link:hover {
  color: #ffc655 !important;    /* <-- FORCE hover color too */
  text-decoration: underline;
}
