.card-container {
  background-color: #fef5e4;
  padding: 20px 20px 20px 20px;
  border-radius: 1em;
  width: 95%;
  height: 80vh; /* 🔥 Responsive height: 80% of screen height */
  align-items: stretch;
  justify-content: flex-start;
  box-shadow: none;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: none;
  margin: 50px auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 80px; /* Rounded track */
}

/* Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background: #fede98; /* Light orange */
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbf2d5; /* Lighter on hover */
}
