
/* Style commun aux inputs, textarea, select */
.text-input{
    border-radius: 20em;
    border: 1px solid #fec349;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Source Serif Pro", serif;
    margin-top: 5px;
    background-color: #fffcf7;
    font-weight: 500;
  }


  .auth-background {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../../assets/images/dashboard-bck.jpg');
    background-size: cover;
    background-position: center;
  }
  