/* Table et alignement */
.table {
  width: 96%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  margin: 15px auto;
}

.body-space {
  display: inline;
  overflow: hidden;
  overflow: hidden;
}

.space-between-container {
  margin-left: 20px;
  width: 96%;
}

/* Colonnes DataGrid */
.data-grid .MuiDataGrid-columnHeader {
  background-color: #f4f5f8;
  color: #02032a;
  font-weight: bold;
}

/* Boutons personnalisés */
.custom-button {
  margin-top: 10px;
  font-size: 10px;
  border-radius: 15px;
  padding: 5px 10px;
  text-transform: none;
  border: none;
  cursor: pointer;
}

/* Couleurs spécifiques */
.delete-button {
  color: #ea3d2f;
  background-color: #fde5e2;
}

.edit-button {
  color: #f4a918;
  background-color: #fdf3d8;
}

.view-button {
  color: #377bf6;
  background-color: #e5efff;
}

CardContainer{
  overflow: hidden;
}

/* Ton bouton personnalisé */
.custom-button.blue-primary-button {
  background-color:  #377bf6;
  color: #e5efff;
  font-size: 15px;
  border-radius: 15px;
  text-transform: none;
  padding: 8px 16px;
  box-shadow: none;
  width: 200px;
  border: 0.5px solid   #e5efff;
  cursor: pointer;
 
}
