
.custom-button.blue-primary-button {
  background-color: #e5efff;
  color: #377bf6;
  font-size: 15px;
  border-radius: 15px;
  text-transform: none;
  padding: 8px 16px;
  box-shadow: none;
  width: 200px;
  border: 1px solid #377bf6;  
  cursor: pointer;
}
.button-disabled {
  opacity: 0.6; /* 🔥 Effet plus clair */
  cursor: not-allowed; /* 🔥 Curseur interdit */
  pointer-events: none; /* 🔥 Vraiment désactiver tous les clics */
}
.button-disabled:hover {
  background-color: #d3d3d3; /* léger effet hover même grisé */
}
body {
  overflow: hidden !important;  /* 🔥 Empêche tout scroll */
 margin-right: 0px !important;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}
